out/
release/
**/node_modules/

# IntelliJ project files
.idea
*.iml

# Eclipse project files
**/.classpath
**/.project
**/.settings/
**/bin/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local config
config.json